Repository jmfk/voyager-trader, changes with the owners that .github/CODEOWNERS names for each.
All owners: @voyager-trader/maintainers, @voyager-trader/core-team, @voyager-trader/architects, @voyager-trader/curriculum-team, @voyager-trader/skills-team, @voyager-trader/prompting-team, @voyager-trader/security-team, @voyager-trader/devops-team, @voyager-trader/docs-team, @voyager-trader/qa-team, @voyager-trader/product-team

fix: remove cache/metadata.json and add cache/ to .gitignore
  .gitignore
  cache/metadata.json
Owners: @voyager-trader/maintainers

fix: resolve pytest configuration and datetime deprecation warnings
  pyproject.toml
  src/voyager_trader/execution/manager.py
  src/voyager_trader/models/base.py
  tests/models/test_base.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: resolve additional datetime warnings and test failures
  src/voyager_trader/execution/executor.py
  src/voyager_trader/execution/interfaces.py
  src/voyager_trader/execution/monitor.py
  tests/execution/test_executor.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

chore: simpler pre-commit
  .pre-commit-config.yaml
Owners: @voyager-trader/maintainers

fix: prevent memory leaks in ExecutionMonitor with configurable retention
  .github/workflows/workflow.off/pr-auto-review-fix.yml
  src/voyager_trader/execution/monitor.py
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: implement consistent Decimal arithmetic for strategy allocation math
  src/voyager_trader/execution/executor.py
Owners: @voyager-trader/maintainers

fix: resolve additional datetime warnings and test failures
  src/voyager_trader/execution/executor.py
  src/voyager_trader/execution/interfaces.py
  src/voyager_trader/execution/monitor.py
  tests/execution/test_executor.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: resolve race condition in portfolio updates and test issues
  src/voyager_trader/execution/executor.py
  src/voyager_trader/execution/manager.py
  src/voyager_trader/execution/risk.py
  tests/execution/test_executor.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: apply final code quality and formatting fixes
  docs/adr/0017-trading-strategy-execution-engine.md
  src/voyager_trader/execution/__init__.py
  tests/execution/test_executor.py
  tests/execution/test_interfaces.py
  tests/execution/test_risk.py
Owners: @voyager-trader/docs-team, @voyager-trader/maintainers, @voyager-trader/qa-team

chore: ignore cache
  .gitignore
Owners: @voyager-trader/maintainers

feat: implement comprehensive Trading Strategy Execution Engine (refs #8)
  docs/adr/0017-trading-strategy-execution-engine.md
  src/voyager_trader/execution/__init__.py
  src/voyager_trader/execution/executor.py
  src/voyager_trader/execution/interfaces.py
  src/voyager_trader/execution/manager.py
  src/voyager_trader/execution/monitor.py
  src/voyager_trader/execution/risk.py
  tests/execution/__init__.py
  tests/execution/test_executor.py
  tests/execution/test_interfaces.py
  tests/execution/test_risk.py
Owners: @voyager-trader/docs-team, @voyager-trader/maintainers, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/execution/__init__.py
  src/voyager_trader/execution/executor.py
  src/voyager_trader/execution/interfaces.py
  src/voyager_trader/execution/manager.py
  src/voyager_trader/execution/monitor.py
  src/voyager_trader/execution/risk.py
  src/voyager_trader/market_data/exceptions.py
  tests/execution/__init__.py
  tests/execution/test_executor.py
  tests/execution/test_interfaces.py
  tests/execution/test_risk.py
  tests/market_data/test_pr_fixes.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: resolve pytest configuration and datetime deprecation warnings
  pyproject.toml
  src/voyager_trader/execution/manager.py
  src/voyager_trader/models/base.py
  tests/models/test_base.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: remove cache/metadata.json and add cache/ to .gitignore
  .gitignore
  cache/metadata.json
Owners: @voyager-trader/maintainers

fix: implement robust price data handling with fallback mechanisms
  src/voyager_trader/execution/executor.py
Owners: @voyager-trader/maintainers

feat: implement comprehensive admin interface with port configuration and process management
  .gitignore
  CLAUDE.md
  Makefile
  admin-ui/README.md
  admin-ui/package-lock.json
  admin-ui/package.json
  admin-ui/postcss.config.js
  admin-ui/public/index.html
  admin-ui/src/App.js
  admin-ui/src/components/Dashboard.js
  admin-ui/src/components/Login.js
  admin-ui/src/components/LogsPanel.js
  admin-ui/src/components/PerformanceChart.js
  admin-ui/src/components/ProtectedRoute.js
  admin-ui/src/components/SkillsTable.js
  admin-ui/src/components/SystemStatus.js
  admin-ui/src/index.css
  admin-ui/src/index.js
  admin-ui/src/services/api.js
  admin-ui/tailwind.config.js
  requirements.txt
  src/voyager_trader/admin_api.py
  start_admin.py
  test_admin_setup.py
Owners: @voyager-trader/maintainers, @voyager-trader/security-team

feat: add missing configuration files and scripts
  coverage.json
  pyproject.toml
  research/.DS_Store
  scripts/demo_interactive_config.py
  scripts/interactive_config.py
  scripts/setup_env_template.sh
  scripts/test_interactive_config.py
  scripts/validate_config.py
  src/voyager_trader/observability.py
Owners: @voyager-trader/maintainers

fix: apply Black code formatting to admin API and observability modules
  src/voyager_trader/admin_api.py
  src/voyager_trader/observability.py
Owners: @voyager-trader/maintainers

fix: implement critical security fixes before merge
  admin-ui/src/components/Login.js
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers

fix: apply Black code formatting to admin_api.py
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers

fix: enable PR auto-review workflow
  .github/workflows/pr-auto-review-fix.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: auto-apply code quality fixes
  coverage.json
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers

feat: implement persistent JWT secret configuration
  .env.template
  CLAUDE.md
  Makefile
  docs/security.md
  scripts/generate_jwt_secret.py
  scripts/setup_env_template.sh
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team

fix: restore missing imports after rebase
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers

security: remove production credentials from code
  .env.template
  CLAUDE.md
  Makefile
  admin-ui/README.md
  docs/security.md
  scripts/setup_env_template.sh
  src/voyager_trader/admin_api.py
  start_admin.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team

feat: add CORS environment configuration for production readiness
  .env.template
  CLAUDE.md
  Makefile
  docs/security.md
  scripts/setup_env_template.sh
  scripts/test_cors.py
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team

feat: implement comprehensive API rate limiting
  .env.template
  Makefile
  docs/security.md
  requirements.txt
  scripts/setup_env_template.sh
  scripts/test_rate_limit.py
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/security-team

feat: implement comprehensive frontend logging system
  admin-ui/.env.template
  admin-ui/src/components/Dashboard.js
  admin-ui/src/components/LogsPanel.js
  admin-ui/src/components/PerformanceChart.js
  admin-ui/src/components/SkillsTable.js
  admin-ui/src/utils/logger.js
  docs/frontend-logging.md
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team

fix: auto-apply code quality fixes
  coverage.json
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers

fix: implement critical security fixes before merge
  admin-ui/src/components/Login.js
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers

feat: implement comprehensive frontend logging system
  admin-ui/.env.template
  admin-ui/src/components/Dashboard.js
  admin-ui/src/components/LogsPanel.js
  admin-ui/src/components/PerformanceChart.js
  admin-ui/src/components/SkillsTable.js
  admin-ui/src/utils/logger.js
  docs/frontend-logging.md
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team

fix: auto-apply code quality fixes
  coverage.json
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers

fix: apply Black code formatting to admin_api.py
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers

fix: restore missing imports after rebase
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers

feat: implement comprehensive admin interface with port configuration and process management
  .gitignore
  CLAUDE.md
  Makefile
  admin-ui/README.md
  admin-ui/package-lock.json
  admin-ui/package.json
  admin-ui/postcss.config.js
  admin-ui/public/index.html
  admin-ui/src/App.js
  admin-ui/src/components/Dashboard.js
  admin-ui/src/components/Login.js
  admin-ui/src/components/LogsPanel.js
  admin-ui/src/components/PerformanceChart.js
  admin-ui/src/components/ProtectedRoute.js
  admin-ui/src/components/SkillsTable.js
  admin-ui/src/components/SystemStatus.js
  admin-ui/src/index.css
  admin-ui/src/index.js
  admin-ui/src/services/api.js
  admin-ui/tailwind.config.js
  requirements.txt
  src/voyager_trader/admin_api.py
  start_admin.py
  test_admin_setup.py
Owners: @voyager-trader/maintainers, @voyager-trader/security-team

feat: add CORS environment configuration for production readiness
  .env.template
  CLAUDE.md
  Makefile
  docs/security.md
  scripts/setup_env_template.sh
  scripts/test_cors.py
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team

feat: add missing configuration files and scripts
  coverage.json
  pyproject.toml
  research/.DS_Store
  scripts/demo_interactive_config.py
  scripts/interactive_config.py
  scripts/setup_env_template.sh
  scripts/test_interactive_config.py
  scripts/validate_config.py
  src/voyager_trader/observability.py
Owners: @voyager-trader/maintainers

fix: enable PR auto-review workflow
  .github/workflows/pr-auto-review-fix.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: apply Black code formatting to admin API and observability modules
  src/voyager_trader/admin_api.py
  src/voyager_trader/observability.py
Owners: @voyager-trader/maintainers

fix: auto-apply code quality fixes
  coverage.json
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers

.github/CODEOWNERS:

# Global code owners
* @voyager-trader/maintainers

# Core system architecture
/src/voyager_trader/core.py @voyager-trader/core-team @voyager-trader/architects
/src/voyager_trader/__init__.py @voyager-trader/core-team

# Component-specific ownership
/src/voyager_trader/curriculum.py @voyager-trader/curriculum-team
/src/voyager_trader/skills.py @voyager-trader/skills-team
/src/voyager_trader/prompting.py @voyager-trader/prompting-team

# Architecture Decision Records
/docs/adr/ @voyager-trader/architects @voyager-trader/maintainers

# Configuration and deployment
/requirements.txt @voyager-trader/maintainers @voyager-trader/security-team
/.github/ @voyager-trader/maintainers @voyager-trader/devops-team
/Dockerfile @voyager-trader/devops-team
/docker-compose.yml @voyager-trader/devops-team

# Security-sensitive files
/SECURITY.md @voyager-trader/security-team @voyager-trader/maintainers

# Documentation
/README.md @voyager-trader/maintainers @voyager-trader/docs-team
/docs/ @voyager-trader/docs-team
/CLAUDE.md @voyager-trader/maintainers

# Testing infrastructure
/tests/ @voyager-trader/maintainers @voyager-trader/qa-team
/.github/workflows/ @voyager-trader/maintainers @voyager-trader/devops-team

# Project management
/goals.md @voyager-trader/product-team @voyager-trader/maintainers
/VOYAGER-Trader_PDR_*.md @voyager-trader/architects @voyager-trader/product-team
