Repository jmfk/voyager-trader, changes with the owners that .github/CODEOWNERS names for each.
All owners: @voyager-trader/maintainers, @voyager-trader/core-team, @voyager-trader/architects, @voyager-trader/curriculum-team, @voyager-trader/skills-team, @voyager-trader/prompting-team, @voyager-trader/security-team, @voyager-trader/devops-team, @voyager-trader/docs-team, @voyager-trader/qa-team, @voyager-trader/product-team

feat: implement persistent JWT secret configuration
  .env.template
  CLAUDE.md
  Makefile
  docs/security.md
  scripts/generate_jwt_secret.py
  scripts/setup_env_template.sh
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team

security: remove production credentials from code
  .env.template
  CLAUDE.md
  Makefile
  admin-ui/README.md
  docs/security.md
  scripts/setup_env_template.sh
  src/voyager_trader/admin_api.py
  start_admin.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team

feat: implement comprehensive API rate limiting
  .env.template
  Makefile
  docs/security.md
  requirements.txt
  scripts/setup_env_template.sh
  scripts/test_rate_limit.py
  src/voyager_trader/admin_api.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/security-team

feat: implement comprehensive persistent storage system (refs #56)
  config/persistence.example.env
  docs/persistent-storage.md
  requirements.txt
  src/voyager_trader/config.py
  src/voyager_trader/persistence/__init__.py
  src/voyager_trader/persistence/audit_service.py
  src/voyager_trader/persistence/database.py
  src/voyager_trader/persistence/repositories.py
  src/voyager_trader/persistence/schema.sql
  src/voyager_trader/persistence/trading_service.py
  tests/persistence/__init__.py
  tests/persistence/test_audit_service.py
  tests/persistence/test_database.py
  tests/persistence/test_repositories.py
  tests/persistence/test_trading_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/security-team, @voyager-trader/qa-team

fix: address critical issues in persistent storage system (refs #56)
  src/voyager_trader/persistence/audit_service.py
  src/voyager_trader/persistence/database.py
  src/voyager_trader/persistence/simple_schema.sql
Owners: @voyager-trader/maintainers

fix: auto-apply code quality fixes
  src/voyager_trader/config.py
  src/voyager_trader/persistence/repositories.py
  src/voyager_trader/persistence/trading_service.py
  tests/persistence/__init__.py
  tests/persistence/test_audit_service.py
  tests/persistence/test_database.py
  tests/persistence/test_repositories.py
  tests/persistence/test_trading_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  coverage.json
Owners: @voyager-trader/maintainers

fix: address critical issues in persistent storage system (refs #56)
  src/voyager_trader/persistence/audit_service.py
  src/voyager_trader/persistence/database.py
  src/voyager_trader/persistence/simple_schema.sql
Owners: @voyager-trader/maintainers

fix: auto-apply code quality fixes
  src/voyager_trader/config.py
  src/voyager_trader/persistence/repositories.py
  src/voyager_trader/persistence/trading_service.py
  tests/persistence/__init__.py
  tests/persistence/test_audit_service.py
  tests/persistence/test_database.py
  tests/persistence/test_repositories.py
  tests/persistence/test_trading_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

feat: implement comprehensive persistent storage system (refs #56)
  config/persistence.example.env
  docs/persistent-storage.md
  requirements.txt
  src/voyager_trader/config.py
  src/voyager_trader/persistence/__init__.py
  src/voyager_trader/persistence/audit_service.py
  src/voyager_trader/persistence/database.py
  src/voyager_trader/persistence/repositories.py
  src/voyager_trader/persistence/schema.sql
  src/voyager_trader/persistence/trading_service.py
  tests/persistence/__init__.py
  tests/persistence/test_audit_service.py
  tests/persistence/test_database.py
  tests/persistence/test_repositories.py
  tests/persistence/test_trading_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/security-team, @voyager-trader/qa-team

feat: complete persistent storage implementation with all components (refs #56)
  config/persistence.example.env
  docs/persistent-storage.md
  src/voyager_trader/persistence/repositories.py
  src/voyager_trader/persistence/schema.sql
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team

fix: auto-apply code quality fixes
  src/voyager_trader/persistence/repositories.py
Owners: @voyager-trader/maintainers

fix: auto-apply code quality fixes
  coverage.json
Owners: @voyager-trader/maintainers

fix: auto-apply code quality fixes
  coverage.json
Owners: @voyager-trader/maintainers

feat: complete persistent storage implementation with all components (refs #56)
  config/persistence.example.env
  docs/persistent-storage.md
  src/voyager_trader/persistence/repositories.py
  src/voyager_trader/persistence/schema.sql
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team

fix: auto-apply code quality fixes
  src/voyager_trader/persistence/repositories.py
Owners: @voyager-trader/maintainers

chore: add SQLite database files to .gitignore
  .gitignore
Owners: @voyager-trader/maintainers

feat: replace string-based SQLite error checking with error codes (fixes #61)
  .github/workflows/claude-code-review.yml
  docs/sqlite-error-handling.md
  src/voyager_trader/persistence/database.py
  src/voyager_trader/persistence/error_handling.py
  tests/persistence/test_error_handling.py
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team, @voyager-trader/docs-team, @voyager-trader/qa-team

fix: add missing pytest-asyncio dependency
  requirements.txt
Owners: @voyager-trader/maintainers, @voyager-trader/security-team

fix: revert workflow file to match main branch version
  .github/workflows/claude-code-review.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: ensure workflow file exactly matches main branch
  .github/workflows/claude-code-review.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: auto-apply code quality fixes
  coverage.json
Owners: @voyager-trader/maintainers

fix: auto-apply code quality fixes
  coverage.json
Owners: @voyager-trader/maintainers

fix: revert workflow file to match main branch version
  .github/workflows/claude-code-review.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: add missing pytest-asyncio dependency
  requirements.txt
Owners: @voyager-trader/maintainers, @voyager-trader/security-team

feat: replace string-based SQLite error checking with error codes (fixes #61)
  .github/workflows/claude-code-review.yml
  docs/sqlite-error-handling.md
  src/voyager_trader/persistence/database.py
  src/voyager_trader/persistence/error_handling.py
  tests/persistence/test_error_handling.py
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team, @voyager-trader/docs-team, @voyager-trader/qa-team

fix: ensure workflow file exactly matches main branch
  .github/workflows/claude-code-review.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

feat: add GitHub Action to auto-close issues on PR merge
  .github/workflows/auto-close-issues.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: auto-apply code quality fixes
  coverage.json
Owners: @voyager-trader/maintainers

feat: implement comprehensive database connection health checks (fixes #62)
  docs/database-connection-health.md
  src/voyager_trader/persistence/connection_health.py
  src/voyager_trader/persistence/database.py
  tests/persistence/test_connection_health.py
Owners: @voyager-trader/docs-team, @voyager-trader/maintainers, @voyager-trader/qa-team

feat: implement comprehensive Circuit Breaker pattern for database operations
  src/voyager_trader/persistence/circuit_breaker.py
  src/voyager_trader/persistence/database.py
  tests/persistence/test_circuit_breaker.py
  tests/persistence/test_connection_health.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

feat: add GitHub Action to auto-close issues on PR merge
  .github/workflows/auto-close-issues.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

feat: add GitHub Action to auto-close issues on PR merge
  .github/workflows/auto-close-issues.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

feat: add GitHub Action to auto-close issues on PR merge
  .github/workflows/auto-close-issues.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: apply black formatting to circuit breaker implementation
  src/voyager_trader/persistence/circuit_breaker.py
Owners: @voyager-trader/maintainers

fix: GAs
  .github/workflows/off/dependency-update.yml
  .github/workflows/off/pr-auto-review-fix.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: resolve async fixture issues in connection health tests
  tests/persistence/test_connection_health.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: resolve OpenTelemetry hanging in GitHub Actions
  .github/workflows/ci.yml
  src/voyager_trader/observability.py
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: disable OpenTelemetry in test environment
  tests/conftest.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: resolve multiple test failures across execution and market data modules
  src/voyager_trader/market_data/validator.py
  tests/execution/test_interfaces.py
  tests/execution/test_risk.py
  tests/market_data/test_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

.github/CODEOWNERS:

# Global code owners
* @voyager-trader/maintainers

# Core system architecture
/src/voyager_trader/core.py @voyager-trader/core-team @voyager-trader/architects
/src/voyager_trader/__init__.py @voyager-trader/core-team

# Component-specific ownership
/src/voyager_trader/curriculum.py @voyager-trader/curriculum-team
/src/voyager_trader/skills.py @voyager-trader/skills-team
/src/voyager_trader/prompting.py @voyager-trader/prompting-team

# Architecture Decision Records
/docs/adr/ @voyager-trader/architects @voyager-trader/maintainers

# Configuration and deployment
/requirements.txt @voyager-trader/maintainers @voyager-trader/security-team
/.github/ @voyager-trader/maintainers @voyager-trader/devops-team
/Dockerfile @voyager-trader/devops-team
/docker-compose.yml @voyager-trader/devops-team

# Security-sensitive files
/SECURITY.md @voyager-trader/security-team @voyager-trader/maintainers

# Documentation
/README.md @voyager-trader/maintainers @voyager-trader/docs-team
/docs/ @voyager-trader/docs-team
/CLAUDE.md @voyager-trader/maintainers

# Testing infrastructure
/tests/ @voyager-trader/maintainers @voyager-trader/qa-team
/.github/workflows/ @voyager-trader/maintainers @voyager-trader/devops-team

# Project management
/goals.md @voyager-trader/product-team @voyager-trader/maintainers
/VOYAGER-Trader_PDR_*.md @voyager-trader/architects @voyager-trader/product-team
