Repository jmfk/voyager-trader, changes with the owners that .github/CODEOWNERS names for each.
All owners: @voyager-trader/maintainers, @voyager-trader/core-team, @voyager-trader/architects, @voyager-trader/curriculum-team, @voyager-trader/skills-team, @voyager-trader/prompting-team, @voyager-trader/security-team, @voyager-trader/devops-team, @voyager-trader/docs-team, @voyager-trader/qa-team, @voyager-trader/product-team

.github/CODEOWNERS:

# Global code owners
* @voyager-trader/maintainers

# Core system architecture
/src/voyager_trader/core.py @voyager-trader/core-team @voyager-trader/architects
/src/voyager_trader/__init__.py @voyager-trader/core-team

# Component-specific ownership
/src/voyager_trader/curriculum.py @voyager-trader/curriculum-team
/src/voyager_trader/skills.py @voyager-trader/skills-team
/src/voyager_trader/prompting.py @voyager-trader/prompting-team

# Architecture Decision Records
/docs/adr/ @voyager-trader/architects @voyager-trader/maintainers

# Configuration and deployment
/requirements.txt @voyager-trader/maintainers @voyager-trader/security-team
/.github/ @voyager-trader/maintainers @voyager-trader/devops-team
/Dockerfile @voyager-trader/devops-team
/docker-compose.yml @voyager-trader/devops-team

# Security-sensitive files
/SECURITY.md @voyager-trader/security-team @voyager-trader/maintainers

# Documentation
/README.md @voyager-trader/maintainers @voyager-trader/docs-team
/docs/ @voyager-trader/docs-team
/CLAUDE.md @voyager-trader/maintainers

# Testing infrastructure
/tests/ @voyager-trader/maintainers @voyager-trader/qa-team
/.github/workflows/ @voyager-trader/maintainers @voyager-trader/devops-team

# Project management
/goals.md @voyager-trader/product-team @voyager-trader/maintainers
/VOYAGER-Trader_PDR_*.md @voyager-trader/architects @voyager-trader/product-team

ci: simplify CI to test only Python 3.12
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/pr-adr-check.yml
  .github/workflows/pr-auto-review-fix.yml
  .github/workflows/release.yml
  docs/adr/0011-python-version-standardization.md
  pyproject.toml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team, @voyager-trader/docs-team

fix: auto-apply code quality fixes
  coverage.json
Owners: @voyager-trader/maintainers

feat: improve test coverage from 68% to 71% with comprehensive validation tests
  src/voyager_trader/models/base.py
  tests/models/test_learning_validation.py
  tests/models/test_strategy_validation.py
  tests/models/test_system_validation.py
  tests/models/test_trading_validation.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  coverage.json
Owners: @voyager-trader/maintainers

feat: improve test coverage from 68% to 71% with comprehensive validation tests
  src/voyager_trader/models/base.py
  tests/models/test_learning_validation.py
  tests/models/test_strategy_validation.py
  tests/models/test_system_validation.py
  tests/models/test_trading_validation.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  coverage.json
Owners: @voyager-trader/maintainers

feat: implement comprehensive VOYAGER Skill Library system
  .gitignore
  docs/adr/0012-skill-library-architecture.md
  src/voyager_trader/skills.py
  tests/test_skills_comprehensive.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/skills-team, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/skills.py
Owners: @voyager-trader/skills-team

fix: address critical issues in VOYAGER Skill Library before merge
  src/voyager_trader/skills.py
  tests/test_skills_comprehensive.py
Owners: @voyager-trader/skills-team, @voyager-trader/maintainers, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/skills.py
Owners: @voyager-trader/skills-team

feat: implement comprehensive VOYAGER Skill Library system
  .gitignore
  docs/adr/0012-skill-library-architecture.md
  src/voyager_trader/skills.py
  tests/test_skills_comprehensive.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/skills-team, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/skills.py
Owners: @voyager-trader/skills-team

fix: auto-apply code quality fixes
  src/voyager_trader/skills.py
Owners: @voyager-trader/skills-team

fix: address critical issues in VOYAGER Skill Library before merge
  src/voyager_trader/skills.py
  tests/test_skills_comprehensive.py
Owners: @voyager-trader/skills-team, @voyager-trader/maintainers, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/curriculum_components.py
  src/voyager_trader/curriculum_service.py
  src/voyager_trader/models/learning.py
  src/voyager_trader/models/system.py
  src/voyager_trader/skills.py
  tests/models/test_learning_validation.py
  tests/test_curriculum.py
  tests/test_curriculum_integration.py
  tests/test_skills.py
  tests/test_skills_comprehensive.py
Owners: @voyager-trader/maintainers, @voyager-trader/skills-team, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/curriculum_components.py
  src/voyager_trader/curriculum_service.py
  src/voyager_trader/skills.py
Owners: @voyager-trader/maintainers, @voyager-trader/skills-team

fix: auto-apply code quality fixes
  src/voyager_trader/curriculum_components.py
  src/voyager_trader/curriculum_service.py
  src/voyager_trader/models/learning.py
  src/voyager_trader/models/system.py
  src/voyager_trader/skills.py
  tests/models/test_learning_validation.py
  tests/test_curriculum.py
  tests/test_curriculum_integration.py
  tests/test_skills.py
  tests/test_skills_comprehensive.py
Owners: @voyager-trader/maintainers, @voyager-trader/skills-team, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/curriculum_components.py
  src/voyager_trader/curriculum_service.py
Owners: @voyager-trader/maintainers

chore: Add makefile
  Makefile
Owners: @voyager-trader/maintainers

fix(core): broken tests
  coverage.json
  pyproject.toml
  src/voyager_trader/_version.py
  src/voyager_trader/skills.py
Owners: @voyager-trader/maintainers, @voyager-trader/skills-team

fix(core): makefile
  Makefile
Owners: @voyager-trader/maintainers

chore: Add makefile
  Makefile
Owners: @voyager-trader/maintainers

fix(core): broken tests
  coverage.json
  pyproject.toml
  src/voyager_trader/_version.py
  src/voyager_trader/skills.py
Owners: @voyager-trader/maintainers, @voyager-trader/skills-team

fix(core): makefile
  Makefile
Owners: @voyager-trader/maintainers

fix: auto-apply code quality fixes
  coverage.json
  src/voyager_trader/skills.py
Owners: @voyager-trader/maintainers, @voyager-trader/skills-team

feat: implement comprehensive skill caching and performance optimization system
  docs/caching-quick-reference.md
  docs/skill-caching-optimization.md
  src/voyager_trader/skills.py
  tests/test_skill_caching.py
  tests/test_skill_performance.py
  tests/test_skills_comprehensive_coverage.py
Owners: @voyager-trader/docs-team, @voyager-trader/skills-team, @voyager-trader/maintainers, @voyager-trader/qa-team

feat: implement comprehensive security and performance improvements
  .github/workflows/tag-on-merge.yml
  docs/security-improvements-summary.md
  src/voyager_trader/skills.py
  tests/test_security_improvements.py
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team, @voyager-trader/docs-team, @voyager-trader/skills-team, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  coverage.json
  src/voyager_trader/skills.py
  tests/test_security_improvements.py
  tests/test_skill_caching.py
  tests/test_skill_performance.py
  tests/test_skills_comprehensive_coverage.py
Owners: @voyager-trader/maintainers, @voyager-trader/skills-team, @voyager-trader/qa-team

chore: tag on merge
  .github/workflows/tag-on-merge.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: auto-apply code quality fixes
  coverage.json
  tests/test_skills_comprehensive_coverage.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  coverage.json
  tests/test_skills_comprehensive_coverage.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

feat: implement comprehensive security and performance improvements
  .github/workflows/tag-on-merge.yml
  docs/security-improvements-summary.md
  src/voyager_trader/skills.py
  tests/test_security_improvements.py
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team, @voyager-trader/docs-team, @voyager-trader/skills-team, @voyager-trader/qa-team

chore: tag on merge
  .github/workflows/tag-on-merge.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

feat: implement comprehensive skill caching and performance optimization system
  docs/caching-quick-reference.md
  docs/skill-caching-optimization.md
  src/voyager_trader/skills.py
  tests/test_skill_caching.py
  tests/test_skill_performance.py
  tests/test_skills_comprehensive_coverage.py
Owners: @voyager-trader/docs-team, @voyager-trader/skills-team, @voyager-trader/maintainers, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  coverage.json
  src/voyager_trader/skills.py
  tests/test_security_improvements.py
  tests/test_skill_caching.py
  tests/test_skill_performance.py
  tests/test_skills_comprehensive_coverage.py
Owners: @voyager-trader/maintainers, @voyager-trader/skills-team, @voyager-trader/qa-team

feat: implement comprehensive skill operations observability system (refs #31)
  docs/adr/0013-skill-operations-observability.md
  requirements.txt
  src/voyager_trader/observability.py
  src/voyager_trader/skills.py
  tests/test_observability.py
Owners: @voyager-trader/docs-team, @voyager-trader/maintainers, @voyager-trader/security-team, @voyager-trader/skills-team, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  coverage.json
  src/voyager_trader/skills.py
Owners: @voyager-trader/maintainers, @voyager-trader/skills-team

fix: apply black formatting for Python 3.12.11 compatibility
  .python-version
Owners: @voyager-trader/maintainers

fix: apply black formatting for Python 3.12.11 compatibility
  .python-version
Owners: @voyager-trader/maintainers

feat: implement comprehensive skill operations observability system (refs #31)
  docs/adr/0013-skill-operations-observability.md
  requirements.txt
  src/voyager_trader/observability.py
  src/voyager_trader/skills.py
  tests/test_observability.py
Owners: @voyager-trader/docs-team, @voyager-trader/maintainers, @voyager-trader/security-team, @voyager-trader/skills-team, @voyager-trader/qa-team
