Repository jmfk/voyager-trader, changes with the owners that .github/CODEOWNERS names for each.
All owners: @voyager-trader/maintainers, @voyager-trader/core-team, @voyager-trader/architects, @voyager-trader/curriculum-team, @voyager-trader/skills-team, @voyager-trader/prompting-team, @voyager-trader/security-team, @voyager-trader/devops-team, @voyager-trader/docs-team, @voyager-trader/qa-team, @voyager-trader/product-team

.github/CODEOWNERS:

# Global code owners
* @voyager-trader/maintainers

# Core system architecture
/src/voyager_trader/core.py @voyager-trader/core-team @voyager-trader/architects
/src/voyager_trader/__init__.py @voyager-trader/core-team

# Component-specific ownership
/src/voyager_trader/curriculum.py @voyager-trader/curriculum-team
/src/voyager_trader/skills.py @voyager-trader/skills-team
/src/voyager_trader/prompting.py @voyager-trader/prompting-team

# Architecture Decision Records
/docs/adr/ @voyager-trader/architects @voyager-trader/maintainers

# Configuration and deployment
/requirements.txt @voyager-trader/maintainers @voyager-trader/security-team
/.github/ @voyager-trader/maintainers @voyager-trader/devops-team
/Dockerfile @voyager-trader/devops-team
/docker-compose.yml @voyager-trader/devops-team

# Security-sensitive files
/SECURITY.md @voyager-trader/security-team @voyager-trader/maintainers

# Documentation
/README.md @voyager-trader/maintainers @voyager-trader/docs-team
/docs/ @voyager-trader/docs-team
/CLAUDE.md @voyager-trader/maintainers

# Testing infrastructure
/tests/ @voyager-trader/maintainers @voyager-trader/qa-team
/.github/workflows/ @voyager-trader/maintainers @voyager-trader/devops-team

# Project management
/goals.md @voyager-trader/product-team @voyager-trader/maintainers
/VOYAGER-Trader_PDR_*.md @voyager-trader/architects @voyager-trader/product-team

fix: auto-apply code quality fixes
  coverage.json
  src/voyager_trader/skills.py
Owners: @voyager-trader/maintainers, @voyager-trader/skills-team

fix: auto-apply code quality fixes
  coverage.json
Owners: @voyager-trader/maintainers

fix: resolve tag prefix duplication in tag-on-merge workflow
  .github/workflows/tag-on-merge.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: auto-apply code quality fixes
  coverage.json
Owners: @voyager-trader/maintainers

fix: auto-apply code quality fixes
  coverage.json
Owners: @voyager-trader/maintainers

fix: resolve tag prefix duplication in tag-on-merge workflow
  .github/workflows/tag-on-merge.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

feat: implement centralized LLM service with multi-provider support
  CLAUDE.md
  config/llm_service_example.yaml
  docs/adr/0014-iterative-prompting-architecture.md
  docs/adr/0015-centralized-llm-service.md
  docs/llm-service-usage.md
  examples/llm_service_examples.py
  pyproject.toml
  requirements.txt
  src/voyager_trader/llm_service.py
  src/voyager_trader/prompting.py
  tests/test_iterative_prompting.py
  tests/test_llm_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/security-team, @voyager-trader/prompting-team, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/llm_service.py
  src/voyager_trader/prompting.py
  tests/test_iterative_prompting.py
  tests/test_llm_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/prompting-team, @voyager-trader/qa-team

feat: implement centralized LLM service with multi-provider support
  CLAUDE.md
  config/llm_service_example.yaml
  docs/adr/0014-iterative-prompting-architecture.md
  docs/adr/0015-centralized-llm-service.md
  docs/llm-service-usage.md
  examples/llm_service_examples.py
  pyproject.toml
  requirements.txt
  src/voyager_trader/llm_service.py
  src/voyager_trader/prompting.py
  tests/test_iterative_prompting.py
  tests/test_llm_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/security-team, @voyager-trader/prompting-team, @voyager-trader/qa-team

refactor: remove deprecated LLMProvider enum from prompting.py
  config/llm_service_example.yaml
  docs/llm-service-usage.md
  src/voyager_trader/llm_service.py
  src/voyager_trader/prompting.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/prompting-team

feat: add comprehensive configuration validation on service startup
  docs/llm-service-usage.md
  src/voyager_trader/llm_service.py
Owners: @voyager-trader/docs-team, @voyager-trader/maintainers

feat: add comprehensive test coverage for streaming and error scenarios
  tests/test_llm_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

feat: implement centralized LLM service with multi-provider support
  CLAUDE.md
  config/llm_service_example.yaml
  docs/adr/0014-iterative-prompting-architecture.md
  docs/adr/0015-centralized-llm-service.md
  docs/llm-service-usage.md
  examples/llm_service_examples.py
  pyproject.toml
  requirements.txt
  src/voyager_trader/llm_service.py
  src/voyager_trader/prompting.py
  tests/test_iterative_prompting.py
  tests/test_llm_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/security-team, @voyager-trader/prompting-team, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/llm_service.py
  src/voyager_trader/prompting.py
  tests/test_iterative_prompting.py
  tests/test_llm_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/prompting-team, @voyager-trader/qa-team

feat: implement centralized LLM service with multi-provider support
  src/voyager_trader/prompting.py
  tests/test_llm_service.py
Owners: @voyager-trader/prompting-team, @voyager-trader/maintainers, @voyager-trader/qa-team

fix: centralize LLM service with multi-provider support and comprehensive test coverage
  config/llm_service_example.yaml
  docs/llm-service-usage.md
  src/voyager_trader/llm_service.py
  src/voyager_trader/prompting.py
  tests/test_iterative_prompting.py
  tests/test_llm_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/prompting-team, @voyager-trader/qa-team

fix: centralize LLM service with multi-provider support and comprehensive test coverage
  config/llm_service_example.yaml
  docs/llm-service-usage.md
  src/voyager_trader/llm_service.py
  src/voyager_trader/prompting.py
  tests/test_iterative_prompting.py
  tests/test_llm_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/prompting-team, @voyager-trader/qa-team

fix: improve tag version calculation to handle corrupted tags and prevent duplicates
  .github/workflows/tag-on-merge.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: auto-apply code quality fixes
  src/voyager_trader/llm_service.py
Owners: @voyager-trader/maintainers

fix: improve tag version calculation to handle corrupted tags and prevent duplicates
  .github/workflows/tag-on-merge.yml
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: auto-apply code quality fixes
  src/voyager_trader/llm_service.py
Owners: @voyager-trader/maintainers

feat: implement comprehensive market data integration system (refs #7)
  cache/metadata.json
  docs/adr/0016-market-data-integration-architecture.md
  src/voyager_trader/market_data/__init__.py
  src/voyager_trader/market_data/cache.py
  src/voyager_trader/market_data/fetcher.py
  src/voyager_trader/market_data/interfaces.py
  src/voyager_trader/market_data/manager.py
  src/voyager_trader/market_data/normalizer.py
  src/voyager_trader/market_data/rate_limiter.py
  src/voyager_trader/market_data/service.py
  src/voyager_trader/market_data/sources/__init__.py
  src/voyager_trader/market_data/sources/alpha_vantage.py
  src/voyager_trader/market_data/sources/mock.py
  src/voyager_trader/market_data/sources/yahoo_finance.py
  src/voyager_trader/market_data/validator.py
  tests/market_data/__init__.py
  tests/market_data/test_mock_source.py
  tests/market_data/test_service.py
  tests/market_data/test_validator.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/llm_service.py
  src/voyager_trader/market_data/cache.py
  src/voyager_trader/market_data/fetcher.py
  src/voyager_trader/market_data/interfaces.py
  src/voyager_trader/market_data/manager.py
  src/voyager_trader/market_data/validator.py
  tests/market_data/test_mock_source.py
  tests/market_data/test_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: remove problematic __del__ method in AlphaVantageDataSource
  src/voyager_trader/market_data/sources/alpha_vantage.py
Owners: @voyager-trader/maintainers

feat: comprehensive PR review fixes for market data system
  src/voyager_trader/market_data/__init__.py
  src/voyager_trader/market_data/cache.py
  src/voyager_trader/market_data/cache_warming.py
  src/voyager_trader/market_data/exceptions.py
  src/voyager_trader/market_data/interfaces.py
  src/voyager_trader/market_data/monitoring.py
  src/voyager_trader/market_data/normalizer.py
  src/voyager_trader/market_data/rate_limiter.py
  src/voyager_trader/market_data/service.py
  src/voyager_trader/market_data/sources/mock.py
  src/voyager_trader/market_data/sources/yahoo_finance.py
  src/voyager_trader/market_data/types.py
  src/voyager_trader/market_data/validator.py
  tests/market_data/test_pr_fixes.py
  tests/market_data/test_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/market_data/cache_warming.py
  src/voyager_trader/market_data/exceptions.py
  src/voyager_trader/market_data/monitoring.py
  src/voyager_trader/market_data/service.py
  tests/market_data/test_pr_fixes.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

feat: implement comprehensive market data integration system (refs #7)
  cache/metadata.json
  docs/adr/0016-market-data-integration-architecture.md
  src/voyager_trader/market_data/__init__.py
  src/voyager_trader/market_data/cache.py
  src/voyager_trader/market_data/fetcher.py
  src/voyager_trader/market_data/interfaces.py
  src/voyager_trader/market_data/manager.py
  src/voyager_trader/market_data/normalizer.py
  src/voyager_trader/market_data/rate_limiter.py
  src/voyager_trader/market_data/service.py
  src/voyager_trader/market_data/sources/__init__.py
  src/voyager_trader/market_data/sources/alpha_vantage.py
  src/voyager_trader/market_data/sources/mock.py
  src/voyager_trader/market_data/sources/yahoo_finance.py
  src/voyager_trader/market_data/validator.py
  tests/market_data/__init__.py
  tests/market_data/test_mock_source.py
  tests/market_data/test_service.py
  tests/market_data/test_validator.py
Owners: @voyager-trader/maintainers, @voyager-trader/docs-team, @voyager-trader/qa-team

feat: comprehensive PR review fixes for market data system
  src/voyager_trader/market_data/__init__.py
  src/voyager_trader/market_data/cache.py
  src/voyager_trader/market_data/cache_warming.py
  src/voyager_trader/market_data/exceptions.py
  src/voyager_trader/market_data/interfaces.py
  src/voyager_trader/market_data/monitoring.py
  src/voyager_trader/market_data/normalizer.py
  src/voyager_trader/market_data/rate_limiter.py
  src/voyager_trader/market_data/service.py
  src/voyager_trader/market_data/sources/mock.py
  src/voyager_trader/market_data/sources/yahoo_finance.py
  src/voyager_trader/market_data/types.py
  src/voyager_trader/market_data/validator.py
  tests/market_data/test_pr_fixes.py
  tests/market_data/test_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: remove problematic __del__ method in AlphaVantageDataSource
  src/voyager_trader/market_data/sources/alpha_vantage.py
Owners: @voyager-trader/maintainers

fix: auto-apply code quality fixes
  src/voyager_trader/market_data/cache_warming.py
  src/voyager_trader/market_data/exceptions.py
  src/voyager_trader/market_data/monitoring.py
  src/voyager_trader/market_data/service.py
  tests/market_data/test_pr_fixes.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/llm_service.py
  src/voyager_trader/market_data/cache.py
  src/voyager_trader/market_data/fetcher.py
  src/voyager_trader/market_data/interfaces.py
  src/voyager_trader/market_data/manager.py
  src/voyager_trader/market_data/validator.py
  tests/market_data/test_mock_source.py
  tests/market_data/test_service.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

feat: implement comprehensive Trading Strategy Execution Engine (refs #8)
  docs/adr/0017-trading-strategy-execution-engine.md
  src/voyager_trader/execution/__init__.py
  src/voyager_trader/execution/executor.py
  src/voyager_trader/execution/interfaces.py
  src/voyager_trader/execution/manager.py
  src/voyager_trader/execution/monitor.py
  src/voyager_trader/execution/risk.py
  tests/execution/__init__.py
  tests/execution/test_executor.py
  tests/execution/test_interfaces.py
  tests/execution/test_risk.py
Owners: @voyager-trader/docs-team, @voyager-trader/maintainers, @voyager-trader/qa-team

fix: auto-apply code quality fixes
  src/voyager_trader/execution/__init__.py
  src/voyager_trader/execution/executor.py
  src/voyager_trader/execution/interfaces.py
  src/voyager_trader/execution/manager.py
  src/voyager_trader/execution/monitor.py
  src/voyager_trader/execution/risk.py
  src/voyager_trader/market_data/exceptions.py
  tests/execution/__init__.py
  tests/execution/test_executor.py
  tests/execution/test_interfaces.py
  tests/execution/test_risk.py
  tests/market_data/test_pr_fixes.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: apply final code quality and formatting fixes
  docs/adr/0017-trading-strategy-execution-engine.md
  src/voyager_trader/execution/__init__.py
  tests/execution/test_executor.py
  tests/execution/test_interfaces.py
  tests/execution/test_risk.py
Owners: @voyager-trader/docs-team, @voyager-trader/maintainers, @voyager-trader/qa-team

chore: ignore cache
  .gitignore
Owners: @voyager-trader/maintainers

fix: resolve race condition in portfolio updates and test issues
  src/voyager_trader/execution/executor.py
  src/voyager_trader/execution/manager.py
  src/voyager_trader/execution/risk.py
  tests/execution/test_executor.py
Owners: @voyager-trader/maintainers, @voyager-trader/qa-team

fix: prevent memory leaks in ExecutionMonitor with configurable retention
  .github/workflows/workflow.off/pr-auto-review-fix.yml
  src/voyager_trader/execution/monitor.py
Owners: @voyager-trader/maintainers, @voyager-trader/devops-team

fix: implement robust price data handling with fallback mechanisms
  src/voyager_trader/execution/executor.py
Owners: @voyager-trader/maintainers

fix: implement consistent Decimal arithmetic for strategy allocation math
  src/voyager_trader/execution/executor.py
Owners: @voyager-trader/maintainers

chore: simpler pre-commit
  .pre-commit-config.yaml
Owners: @voyager-trader/maintainers
